# Ignore cheat files
ToDo.txt
nr-software-policy.pdf
# Ignore pycache folders
__pycache__
optimal3dtracks/__pycache__
optimal3dtracks/.ipynb_checkpoints
demo/__pycache__
demo/.ipynb_checkpoints
# Ignore builds and distributions
optimal3dtracks.egg-info
build
dist